In [3]:
import pandas as pd

In [13]:
rrd=pd.read_excel("./RRD Data.xlsx",header=2)

In [14]:
rrd.head()

,Week,Flyers,Retweets,Fbook Likes,Instagram pics,Ice Cream Price,Donut Price,I-Donut Price,Ice Cream Sales,Donut Sales,...,Donut Units,I-Donut Units,Ice Cream Cost,Donut Cost,I-Donut Cost,Total Cost,Ice Cream Profit,Donut Profit,I-Donut Profit,Total Profit
0,1,250,250,250,250,1.0,1.25,2.0,1405.0,3496.25,...,2797.0,2620,702.5,2237.6,3930.0,6870.1,702.5,1258.65,1310.0,2271.15
1,2,250,250,250,250,1.0,1.25,2.0,1570.0,2412.50,...,1930.0,2619,785.0,1544.0,3928.5,6257.5,785.0,868.50,1309.5,1963.00
2,3,250,250,250,250,1.0,1.25,2.0,1435.0,2581.25,...,2065.0,2804,717.5,1652.0,4206.0,6575.5,717.5,929.25,1402.0,2048.75
3,4,250,250,250,250,1.0,1.25,2.0,1360.0,2675.00,...,2140.0,2382,680.0,1712.0,3573.0,5965.0,680.0,963.00,1191.0,1834.00
4,5,250,250,250,250,1.0,1.25,2.0,1450.0,2562.50,...,2050.0,2599,725.0,1640.0,3898.5,6263.5,725.0,922.50,1299.5,1947.00

In [16]:
rrd.columns

Index(['Week', 'Flyers', 'Retweets', 'Fbook Likes', 'Instagram pics',
       'Ice Cream Price', 'Donut Price', 'I-Donut Price', 'Ice Cream Sales',
       'Donut Sales', 'I-Donut Sales', 'Total Revenue', 'Ice Cream Units',
       'Donut Units', 'I-Donut Units', 'Ice Cream Cost', 'Donut Cost',
       'I-Donut Cost', 'Total Cost', 'Ice Cream Profit', 'Donut Profit',
       'I-Donut Profit', 'Total Profit'],
      dtype='object')